.main
    height: 100vh
    display: flex
    width: 100%
    background: url('../img/bg/first-bg.jpg') center center/cover no-repeat
.menu
    display: flex
    flex-direction: column
    width: 320px
    background: #020059
    padding: 14px 0 20px 0
    color: #fff
    height: 100vh
    &__title
        font-size: 16px
        padding: 0 20px
    &__list
        padding: 0
        margin-top: 10px
    &__item
        display: block
        height: 70px
        line-height: 70px
        color: #fff 
        &:hover
            background: #6059B6
            cursor: pointer
            color: #fff
        &--active
            background: #6059B6
        svg
            margin-left: 20px
            width: 26px
            height: 26px
        span
            font-size: 16px
            margin-left: 5px
.header
    display: flex
    justify-content: space-between
    padding: 0 25px
    height: 65px
    width: 100%
    align-items: center
    background: #fff
    &__cath
        font-size: 18px
    &__profile
        display: flex
    &__name
        font-size: 18px
        text-align: right
    &__group
        color: #808080
        font-size: 14px
        text-align: right
    &__icon
        margin-left: 10px
        img
            width: 50px
            height: 50px
.content
    width: 100%
.shedule
    display: flex
    flex-direction: column
    margin: 20px
    padding: 10px 20px 20px 20px
    background: #fff
    height: auto
    &__item
        display: flex
        align-items: center
        &--discipline
            margin-left: 40px
            display: flex
            align-items: center
            span
                margin-right: 6px
                font-size: 18px
        &--semester
            font-size: 18px
            span
                font-size: 20px
        &--group
            margin-left: 40px
            font-size: 18px
            display: flex
            align-items: center
            span
                margin-right: 6px
                font-size: 18px
    &__nav
        display: flex
        justify-content: space-between
        align-items: center
    
    &__download
        display: flex
        padding: 12px 20px 
        border: 1px solid #BDBDBD
        border-radius: 10px
        cursor: pointer
        color: #000
        img
            margin-right: 6px
    &__table
        margin-top: 20px
        tr, td, th
            border: 1px solid #000
    &__time
        font-size: 30px
        width: 250px
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
    &__day
        width: 250px
        height: 35px
        text-align: center
    &__title
        font-size: 24px
    &__subtitle
        font-size: 20px
        text-align: center
        height: 35px
    &__text
        text-align: center
    &__subject
        width: 250px
        height: 140px
        text-align: center
        position: relative
        padding: 0 16px
        font-size: 16px
        font-weight: 600
        vertical-align: top
        &--name
            margin-top: 8px
        &--teach
            font-size: 12px
            margin-top: 6px
            font-weight: 400
        &--nav
            margin-top: 6px
            display: flex
            justify-content: space-between
            width: 100%
        &--room
            font-size: 12px
            padding: 2px 6px
            border: 1px solid #BDBDBD
            background: #5548e6
            color: #fff
            border-radius: 4px
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
        &--type
            font-size: 12px
            border: 1px solid #BDBDBD
            padding: 2px 6px
            border-radius: 4px
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
.journal
    display: flex
    flex-direction: column
    margin-top: 14px
    padding: 20px 25px
    &__result
        background: #5FB004
        color: #fff
    &__table
        margin-top: 20px
        height: 700px
        overflow-y: scroll
        tr, td, th
            border: 1px solid #000
    &__modul
        background: #6059B6
        color: #fff 
    &__mark
        text-align: center
    &__time
        font-size: 30px
        width: 250px
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
    &__week
        width: 76px
        height: 35px
        text-align: center
    &__day
        width: 38px
        text-align: center
    &__title
        font-size: 24px
    &__subtitle
        font-size: 20px
        text-align: center
        height: 35px
    &__text
        text-align: center
    &__f
        width: 20px
    &__subject
        width: 200px
        height: 70px
        text-align: left
        position: relative
        padding: 0 16px
        font-size: 16px
        font-weight: 600
        &--teacher
            height: 35px

.settings
    background: #fff
    margin: 20px
    padding: 20px 25px
    &__title
        font-weight: 600
        font-size: 18px
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 40px 40px
        margin-top: 20px
        margin-bottom: 40px
    &__item
        width: 100%
        &--title
            border-bottom: 1px dashed rgba(0,0,0,.5)
            width: 100%
            margin-bottom: 20px
            padding-bottom: 6px
    &__save
        width: 100%
        border-top: 1px solid rgba(0,0,0,.5)
        padding-top: 20px
    &__btn
        display: flex
        align-items: center
        margin-left: auto
        border: 1px solid #5548e6
        background: #5548e6
        padding: 6px 20px
        font-size: 16px
        color: #fff
        transition: .3s 
        box-shadow: 2px 2px 10px 1px rgba(85, 72, 230, .6)
        &:hover
            transform: translateY(-3px)
        svg
            margin-right: 6px
            path
                fill: #fff
    .change
        display: grid
        grid-template-columns: 1fr
        grid-gap: 8px 0
        &__image
            
            position: relative
        &__photo
            width: 180px
            height: 180px
            border-radius: 50%
            object-fit: cover
            margin-bottom: 10px
        &__delete
            position: absolute
            cursor: pointer
            width: 30px 
            height: 30px
            top: 0
            right: 15px
            background: #dc3545
            padding: 7px
            border-radius: 20%
            path
                border-radius: 20%
                fill: #fff
        &__edit
            position: absolute
            cursor: pointer
            width: 30px 
            height: 30px
            bottom: 10px
            right: 15px
            background: #fff
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
            padding: 7px
            border-radius: 20%
            path
                border-radius: 20%
                fill: #000
        &__item
            display: flex
            justify-content: space-between
            align-items: center
            label
                font-weight: 600
                font-size: 14px
            input
                width: 300px
                background: 
                padding: 6px 12px
                font-size: 14px
                
                border: 1px solid rgba(0, 0, 0, .2)
                &:read-only
                    background-color: #eee
        &__text
            font-size: 14px
        &__select
            option
                padding: 4px 10px
.group
    &__table
        margin-top: 20px
        height: 700px
        overflow-y: scroll
        tr, td, th
            border: 1px solid #000 
    &__mark
        text-align: center
    &__time
        font-size: 30px
        width: 250px
        height: 140px
        align-items: center
        text-align: center
        vertical-align: middle
        span
            font-size: 26px
            display: block
    &__week
        width: 76px
        height: 35px
        text-align: center
    &__day
        width: 38px
        text-align: center
    &__title
        font-size: 18px
        width: 500px
    &__subtitle
        padding: 0 10px
        font-size: 14px
        text-align: center
        height: 35px
    &__text
        text-align: center
    &__f
        width: 20px
    &__subject
        width: 200px
        height: 70px
        text-align: left
        position: relative
        padding: 0 16px
        font-size: 16px
        font-weight: 600